*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --almostblack:rgb(54, 49, 49);
    --orangy:orange;
}
body{
    background-color: rgb(54, 49, 49);
    color:var(--orangy);
    display:grid;
    grid-template-rows: 90px 1fr 200px;
    grid-template-areas: "li" "ji" "ti";
    min-height: 100vh;
}
.header{
    grid-area: li;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position:sticky;
    top:0px;
    z-index: 999;
}
.header .logo i{
    padding-top:16px;
    font-size: 34px;
}
.header .logo{
    display:flex;
    font-size: 28px;
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
    padding-left:6px;
}
.header form{
    display: flex;
}
.header .search_bar input[type=search]{
    font-size: 20px;
    padding:10px;
    border: 2px solid black;
    border-radius:  20px 0 0 20px;
    width:550px;
    border-right: none;
    margin-right:none;
    outline: none;
}
.header .search_bar i{
    background-color: white;
    font-size:23px ;
    padding:10px;
    border: 2px solid black;
    border-radius: 0 20px 20px 0;
    margin-left:none;
    border-left: none;
    cursor: pointer;
    color:rgb(248, 196, 66,0.6);
}
.header .search_bar i:hover{
    color:rgb(248, 196, 66);
    transition: all 0.3s;
    
}
.header .header_buttons ul{
    display:flex;
    gap:24px;
    list-style: none;
    padding-right:10px;
    font-size: 20px;
}
.header .header_buttons ul li:hover{
    transform:scale(1.2);
    text-decoration: underline;
    transition: all 0.2s;
    cursor:pointer;
}
.header .header_buttons i{
    font-size: 15px;
    padding-right: 1px;
}

.main_section{
    grid-area: ji;
    margin-bottom: 100px;
}
.main_section .buttons{
    display:flex;
    gap:10px;
    justify-content: center;
    border:2px solid black;
    height: 60px;
    width:100%;
    position:sticky;
    top:90px;
    z-index: 1000;
    background-color: var(--almostblack);
}
.main_section .buttons button{
    background-color: var(--almostblack);
    color:var(--orangy);
    padding:10px;
    font-size: 21px;
    transition: all 0.2s;
    border:none;
}
.main_section .buttons button:hover{
    background-color: var(--orangy);
    color:var(--almostblack);
    cursor: pointer;
    box-shadow: 1px 3px 10px rgb(214, 107, 25);
    /* border:1px solid black; */
}
.main_section .main_image img{
    width:100%;
    height:500px;
}
.main_section .features {
    display:flex;
    gap:40px;
    margin-top:130px;
    padding:10px;
}
/*  swiper     */

.swiper {
    width: 70%;
    height: 50vh; /* ارتفاع متناسب مع الشاشة */
    border-radius: 10px;
    overflow: hidden;
}

.swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.slider {
    width: 100%;
    margin-top: 180px;
}

/* swiper     */
.main_section .real_content {
    margin-top: 250px;
    display: grid;
    grid-template-columns: repeat(5,auto);
    row-gap: 100px;
}
.main_section .real_content .medic{
    border:2px solid var(--orangy);
    /* border-radius:10px; */
    width:max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    row-gap: 6px;
}
.main_section .real_content .medic:hover{
    transition: all 0.4s;
    box-shadow: 2px 5px 10px rgb(214, 107, 25) ;
}
.main_section .real_content .medic button{
    font-size: 26px;
    border-radius: 12px;
    padding:6px;
    background-color: var(--orangy);
    color:var(--almostblack);
    width: 90%;
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 3px;
}
.main_section .real_content .medic button:hover{
    background-color: var(--almostblack);
    color:var(--orangy);

}


.main_section .real_content img{
    width:280px;
    height: 300px;
}






.footer{
    grid-area: ti;
    background-color: black;
    display:flex;
    /* gap:145px; */
    justify-content: space-between;
}
.footer .contact{
    font-size: 23px;
    padding: 20px 10px 10px 10px;
    
}
.footer .contact a{
    color:var(--orangy);
}
.footer .name{
    font-size: 110px;
    font-family: "Lavishly Yours", cursive;
}
.footer .rest{
    display: flex;
    flex-direction: column;
    gap:40px;
    padding:15px;
}
.footer .rest .links {
    font-size: 25px;
    display:flex;
    gap:15px;
}
.footer .rest .links i{
    cursor: pointer;
    margin-right: 10px;
}
.footer .rest .quick_links {
    font-size: 25px;
}
.footer .rest .quick_links a{
    color:var(--orangy);
    text-decoration: none;
    margin-right:20px;
}
.footer .rest .quick_links a:hover{
    color:rgb(91, 91, 245);
    text-decoration: underline;
}